@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --purple: #ac6cff;
    --silver: #f8f9ff;
    --dark-purple: #2F1C48;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #2d2d2d;
}

header {
    display: flex;
    padding: 30px 75px;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 190px;
}

header .anchortag {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

header .anchortag a {
    color: var(--silver);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
}

header .anchortag a:hover {
    color: var(--purple);
}

header .sign {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .sign a {
    color: var(--purple);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

header .sign .btn {
    color: var(--purple);
    background-color: #2d2d2d;
    border: 1px solid var(--purple);
    transition: all 0.5s ease-in-out;
    padding: 8px 17px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
}

header .sign .btn:hover {
    color: var(--silver);
    background-color: var(--purple);
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 45px 60px 45px 75px;
    position: relative;
}

.section1 .sec1left h1 #span {
    color: var(--purple);
}

.section1 .sec1left h1 {
    color: var(--silver);
    font-size: 67px;
    font-weight: 700;
    font-style: bold;
}

.section1 .sec1left p {
    color: var(--silver);
    font-size: 20px;
    font-weight: 400;
    padding-top: 40px;
}

.section1 .sec1left .button {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.section1 .sec1left .button .btn {
    color: var(--silver);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 25px;
}

.section1 .sec1left .button #btn1 {
    padding: 25px 50px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.section1 .sec1left .button #btn1:hover {
    color: var(--purple);
    font-size: 20px;
    font-weight: 600;
    background-color: #2d2d2d;
    border: 1px solid #EADAFF;

}

.section1 .sec1left .button #btn2 {
    padding: 25px 50px;
    color: var(--purple);
    font-size: 20px;
    font-weight: 600;
    background-color: #EADAFF;
    border: 1px solid #EADAFF;
    transition: all 0.5s ease-in-out;
}

.section1 .sec1left .button #btn2:hover {
    color: #EADAFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #2d2d2d;
    border: 1px solid var(--purple);


}

#star1 {
    z-index: 2;
    position: absolute;
    top: 190px;
    left: 1700px;
}

.section2 {
    background-color: var(--purple);
    padding: 75px 75px;
}

.section2 .sec2detail {
    text-align: center;
    color: var(--silver);
}

.section2 .sec2detail h5 {
    font-size: 25px;
    font-weight: 600;
    /* padding-top: 12px; */
}

.section2 .logos {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}

.sectiopn3 {
    padding: 100px 40px 70px 40px;
    text-align: center;
    background-color: var(--dark-purple);
}

.sectiopn3 .sec3top h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--silver);
}

.sectiopn3 .sec3top p {
    color: var(--silver);
    font-size: 22px;
    font-weight: 500;
    padding-top: 25px;
}

.sectiopn3 .sectiopn3 {
    display: flex;
    justify-content: space-between;
}

.sectiopn3 .sectiopn3 .card {
    width: 390px;
    height: 320px;
    background-color: var(--purple);
    border-radius: 25px;
}

.sectiopn3 .sectiopn3 .card .pics {
    padding: 50px 55px;
}

.sectiopn3 .sectiopn3 .card .pics p {
    color: var(--silver);
    font-size: 24px;
    font-weight: 600;
    padding-top: 65px;
}

.sectiopn3 .sectiopn3 .card .pics #p1 {
    padding-top: 87px;
}

.sectiopn3 .sectiopn3 .card .pics #p2 {
    padding-top: 79px;
}

.section4 {
    padding: 80px 75px 20px 75px;
}

.section4 .sec4top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section4 .sec4top h1 {
    color: var(--silver);
    font-size: 40px;
    font-weight: 600;
}

.section4 .sec4bottom {
    display: flex;
    gap: 180px;
    padding-top: 90px;
}

.section4 .sec4bottom .sec4bottomright h1 {
    font-size: 50px;
    font-weight: 700;
    font-style: bold;
    color: var(--silver);
}

.section4 .sec4bottom .sec4bottomright p {
    font-size: 27px;
    font-weight: 400;
    color: var(--silver);
    padding-top: 20px;
}

.section4 .sec4bottom .sec4bottomright .bttn {
    padding-top: 20px;
}

.section4 .sec4bottom .sec4bottomright #btn3 {
    color: var(--silver);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    border-radius: 22px;
    transition: all 0.6s ease-in-out;
}

.section4 .sec4bottom .sec4bottomright #btn3:hover {
    color: var(--purple);
    background-color: #2d2d2d;
    border: 1px solid var(--silver);
}

.section5 {
    display: flex;
    justify-content: space-between;
    padding: 100px 75px 40px 75px;
}

.section5 .sec5left h1 {
    font-size: 50px;
    font-weight: 700;
    font-style: bold;
    color: var(--silver);
}

.section5 .sec5left p {
    font-size: 27px;
    font-weight: 400;
    color: var(--silver);
    padding-top: 35px;
}

.section5 .sec5left .bttn {
    padding-top: 50px;
}

.section5 .sec5left #btn3 {
    color: var(--silver);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    border-radius: 22px;
    transition: all 0.6s ease-in-out;
}

.section5 .sec5left #btn3:hover {
    color: var(--purple);
    background-color: #2d2d2d;
    border: 1px solid var(--silver);
}

.section6 {
    display: flex;
    gap: 180px;
    padding: 100px 75px 40px 75px;
}

.section6 .sec6right h1 {
    font-size: 50px;
    font-weight: 700;
    font-style: bold;
    color: var(--silver);
}

.section6 .sec6right p {
    font-size: 27px;
    font-weight: 400;
    color: var(--silver);
    padding-top: 35px;
}

.section6 .sec6right .bttn {
    padding-top: 50px;
}

.section6 .sec6right #btn3 {
    color: var(--silver);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    border-radius: 22px;
    transition: all 0.6s ease-in-out;
}

.section6 .sec6right #btn3:hover {
    color: var(--purple);
    background-color: #2d2d2d;
    border: 1px solid var(--silver);
}

.section7 {
    padding: 75px 265px;
    background-color: var(--dark-purple);
}

.section7 .container h2 {
    color: var(--silver);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.section7 .container .contpics {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 70px;
}

.section7 .container .contpics h3 {
    color: var(--silver);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-top: 25px;
}

.section7 .container .contpics p {
    color: var(--silver);
    font-size: 20px;
    font-weight: 500;

}

.section8{
    padding: 100px 0px 70px 0px;
}
.section8 h3{
    color: var(--silver);
    font-size: 31px;
    font-weight: 600;
    text-align: center;
}
.section8 .container{
    width: 850px;
    height: 400px;
    background-color: var(--purple);
    border-radius: 33px;
}
.section8 .container .contdetail{
    text-align: center;
    color: var(--silver);
    padding: 55px 85px;
}
.section8 .container .contdetail p{
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    font-style: bold;
}
.section8 .container .contdetail h6{
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
}
.section8 .container .contdetail h5{
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
    padding-top: 35px;
}